body {
    font-family: Arial, sans-serif;
    background-color: #f2f6e322;
    color: #333;
}
h1 {
    color: #f73c0d;
    font-size: 32pt;
    font-weight: 600;
    margin-top: 60px;
    text-align:center;
}
p {
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
}
/* レスポンシブデザイン：画面幅が768px以下の場合のスタイル */
@media (max-width: 768px) {
    h1 {
        font-size: 24pt; /* 見出しのフォントサイズを小さく */
        margin-top: 40px; /* マージンを調整 */
    }
    p {
        font-size: 16px; /* 段落のフォントサイズを小さく */
    }
}

